<section class="projects">
  <div class="project-content">
  <nav class="project-navigation">
    <a routerLink="">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="#">Projects</a>
    <a routerLink="/contact">Contact</a>
  </nav>
    <div class="project">
      <img src="project1.jpg" alt="Project 1" />
      <h3>Project 1</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        ac tellus hendrerit, vehicula elit ut, venenatis mauris.
      </p>
    </div>
  </div>
    <!-- Add more project cards as needed -->
  </section>
  
